<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Run_01 Export_10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10001</key>
			<dict>
				<key>frame</key>
				<string>{{350,0},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10002</key>
			<dict>
				<key>frame</key>
				<string>{{700,0},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10003</key>
			<dict>
				<key>frame</key>
				<string>{{1050,0},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10004</key>
			<dict>
				<key>frame</key>
				<string>{{1400,0},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10005</key>
			<dict>
				<key>frame</key>
				<string>{{0,326},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10006</key>
			<dict>
				<key>frame</key>
				<string>{{350,326},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10007</key>
			<dict>
				<key>frame</key>
				<string>{{700,326},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10008</key>
			<dict>
				<key>frame</key>
				<string>{{1050,326},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10009</key>
			<dict>
				<key>frame</key>
				<string>{{1400,326},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10010</key>
			<dict>
				<key>frame</key>
				<string>{{0,652},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10011</key>
			<dict>
				<key>frame</key>
				<string>{{350,652},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10012</key>
			<dict>
				<key>frame</key>
				<string>{{700,652},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10013</key>
			<dict>
				<key>frame</key>
				<string>{{1050,652},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10014</key>
			<dict>
				<key>frame</key>
				<string>{{1400,652},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10015</key>
			<dict>
				<key>frame</key>
				<string>{{0,978},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10016</key>
			<dict>
				<key>frame</key>
				<string>{{350,978},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10017</key>
			<dict>
				<key>frame</key>
				<string>{{700,978},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10018</key>
			<dict>
				<key>frame</key>
				<string>{{1050,978},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10019</key>
			<dict>
				<key>frame</key>
				<string>{{1400,978},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10020</key>
			<dict>
				<key>frame</key>
				<string>{{0,1304},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10021</key>
			<dict>
				<key>frame</key>
				<string>{{350,1304},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10022</key>
			<dict>
				<key>frame</key>
				<string>{{700,1304},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
			<key>Run_01 Export_10023</key>
			<dict>
				<key>frame</key>
				<string>{{1050,1304},{350,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,326}}</string>
				<key>sourceSize</key>
				<string>{350,326}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Rox_RightWalk_Hammer.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>Rox_RightWalk_Hammer.png</string>
		</dict>
	</dict>
</plist>
